<div style="display: none">
    {{ form_widget(stopOrderDetailForm.new) }}
    {{ form_widget(stopOrderDetailForm.Product) }}
    {{ form_widget(stopOrderDetailForm.ProductClass) }}
    {{ form_widget(stopOrderDetailForm.quantity, { 'attr': {'type': 'hidden'} }) }}
</div>