{#
 This file is part of the PostCarrier

 Copyright(c) 2016 IPLOGIC CO.,LTD. All Rights Reserved.
 http://www.iplogic.co.jp/

 For the full copyright and license information, please view the LICENSE
 file that was distributed with this source code.
#}

{% if not is_granted('ROLE_USER') %}
<div class="drawer_block pc">
    <form id="plg_postcarrier_mailmaga_form" action="{{ url('block_plg_postcarrier_mailmaga_form') }}" method="post">
	{{ form_widget(form._token) }}
        <div class="">
            <div class="txt_center">
		<h3>メルマガ会員登録</h3>
            </div>
            <div class="">
                {{ form_widget(form.email, {'attr':{'placeholder':"メールアドレス", 'size':15}}) }}
            </div>
            <div class="txt_center">
		<p>
                    <button type="submit" class="btn btn-primary btn-sm" name="action" value="subscribe">登録</button>
                    <button type="submit" class="btn btn-primary btn-sm" name="action" value="unsubscribe">解除</button>
		</p>
            </div>
            <div>
		<p>※WEB会員の登録は<a href="{{ url('entry') }}">こちら</a></p>
            </div>
        </div>
    </form>
</div>
{% endif %}
