{% extends 'default_frame.twig' %}

{% block main %}
<style>
.product_lf{
display:none;
}

.page-heading {
padding-bottom:0;
margin-bottom: 0;
}
.faq-name{
float: left;
display: block;
}
.faq-name li::before{
content: "› ";
color: red;
}
.faq-name li{
    display: block;
    line-height: 20px;
}
 a{
    color: #563924;
}
a:hover{
    color: red;
    text-decoration: underline;
}
.faq-name span{
    font-weight: bold;
    line-height: 20px;
    background-image: linear-gradient(to bottom, #f5cdb4 , #f9ece3);
    display: block;
    padding-left: 8px;
}
.faq-name{
    padding:5px;
}
#faq-noidung{
    margin-top: 5px;
}

</style>
    <div id="contents" class="main_only">
        <div id="privacy_wrap" class="container-fluid1 inner no-padding">
            <div id="main1">
                <h1 class="page-heading">注文メールと連絡メールが届かない場合は？</h1>
                <div id="" class="container-fluid">
					<span class="mediumtext"><font color="#000000"><strong>メールが届かないお客様へ</strong>
					<p> このページではメールが届かないお客様へ当店で把握・調査可能な範囲内で原因とその解決策をご案内しております。</p>
					<p><strong><a name="1" id="1"></a>１：今まで届いていたメールなのに、ある日突然届かなくなりました。</strong><br>
					  この場合、以前まで正常に送受信できていましたので、何かの弾みでお使いのメールサービスやパソコンに搭載されているセキュリティソフト側の設定が変更され、  当店からのメールが「受信拒否」等により受け取れなくなった可能性がございます。<br>
					</p>
					<p> <strong><a name="2" id="2"></a>２：初めから全くメールが届きません。</strong><br>
					  お使いのメールサービスのセキュリティレベルが高く設定されいる場合は当店からのメールが迷惑メールフォルダに入ったり、受信拒否扱いで受け取れないこと  がございます。この場合はメールサービスのセキュリティレベルを下げて頂くことで受信できる可能性がございますのでお試し下さい。<br>
					  携帯電話で受信されているお客様はパソコンからのメールを受け取れる設定と、ドメイン拒否設定を解除して頂かないとメールをお届けできないことがございま  すのでそちらの設定をお願いいたします。（お客様が拒否設定をされた覚えが無い場合、初期設定で受信拒否となっている場合がございます。ご確認くださ  い。）</p>
					<p> <strong><a name="3" id="3"></a>３：受注を確認するメール等、一部のメールが届いていません。</strong><br>
					  当店の受注システムより自動的に送信いたしますメールが受信箱ではなく、  迷惑メールフォルダに入ってしまう現象を一部で確認しております。一部のメールが届かないお客様はお手数ではございますが迷惑メールフォルダをご確認頂くことでご希望のメールを発見できる可能性がございます。<br>
					  （様々なメールサービスの中には強力な迷惑メール対策を施しているものもあり、  その場合申し訳ありませんが迷惑フォルダに入ってしまう現象は当店では対処ができない状況でございます。） </p>
					<p><strong><a name="4" id="4"></a>４：質問や問い合わせメールを送信しましたが返答がありません。</strong><br>
					  様々な原因が考えられますが、  「お客様のメールは当店に届いているが、当店から送信するメールが届かない」ことが殆どですので、受信拒否設定の見直しや迷惑メールフォルダをご確認頂くことで解決できる場合があります。<br>
					  当店から返答が無い場合はお手数をお掛け致しますが、<a href="https://vings.jp/contact"><font color="#ff0000">お問い合わせ</font></a>てご連絡をお願い致します。<br>
					  <br>
					</p>
					<p><strong><a name="5" id="5"></a>５：質問メールを送ると「MAILER-DAEMON」というメールが返ってきます。</strong> <br>
					  メールのあて先アドレスが間違っているとメールサーバから「宛て先がありません」という意味があるMAILER-DAEMONメールが返ってきます。<br>
					  下記にアドレスを間違うよくあるケースを記載しておりますのでご参照の上、メール送信先を再度ご確認下さい。 <br>
					</p>
					<hr size="1">
					<p><strong><a name="a" id="a"></a>Ａ：メールアドレスが間違っていませんか？</strong><br>
					  次のようなメールアドレスがご登録されていた場合はエラーとして  当店にメールが返ってきてしまうため<br>
					  メールをお届けできません。</p>
					<p>・<font color="#ff0000">×××××</font>@yahoo.co.jp<br>
					  （×××××の部分が間違っていないか）<br>
					  ・×××××＠<font color="#ff0000">ｙａｈｏｏ．ｃｏ．ｊｐ</font><br>
					  （メール全体又は一部が全角文字になっていないか）<br>
					  ・×××××@yahoo.<font color="#ff0000">com</font><br>
					  （.comや.ne.jpや.co.jp等を間違えていないか）<br>
					  ・<font color="#ff0000">▲</font>×××××@yahoo.co.jp<font color="#ff0000">▲</font><br>
					  （メールアドレスの▲の場所に空白が入っていないか）<br>
					  ・×××××@yah<font color="#ff0000">00</font>.co.jp<br>
					  （アルファベットの「o」が数字のゼロ「0」になっている、又はその逆）</p>
					<p>該当した場合、ご登録されているメールアドレスを修正いただくことで次回のご注文から正しいメールアドレスにメールを送信いたします。<br>
					  また、現在ご購入いただいている商品についてのメールをご希望の場合は  お手数ですが一度  ご連絡下さい。<br>
					  (ご連絡時に店舗ご利用日、受注番号、フルネーム、お電話番号をお伝えいただけるとスムーズに処理を行うことができます。また、システムで自動送信されているメール等一部のメールは再送信できない場合もございます。ご了承下さい。) <br>
					</p>
					<p><a name="b" id="b"></a><strong>Ｂ：迷惑メールフォルダに振り分けられていませんか？</strong><br>
					  ご利用のメールの設定によっては迷惑メールフォルダに当店からのメールが振り分けられてしまうことがございます。まずは一度、迷惑メールフォルダやゴミ箱フォルダの中に当店からのメールが無いかどうかをご確認下さい。<br>
					  それらのフォルダにメールが無い場合は受信拒否設定がされている場合があります。<br>
					  受信拒否設定については続きをお読み下さい。↓C：受診拒否設定になっていませんか？<br>
					</p>
					<p><strong><a name="c" id="c"></a>Ｃ：受信拒否設定になっていませんか？</strong><br>
					  お使いのメールシステム又はセキュリティソフトにて弊店からのメールを完全に拒否してしまう設定になっている場合がございます。<br>
					  お使いのメールがYahoo!やMSN等のフリーメールの場合には特に多い原因となります。携帯電話で受信されているお客様はパソコンからのメールを受け取れる設定と、ドメイン拒否設定を解除して頂かないとメールをお届けできないことがございますのでそちらの設定をお願いいたします。</p>
					<p><strong><a name="d" id="d"></a>Ｄ：メールの保存容量が最大容量を超えていませんか？</strong><br>
					  容量制限があるメールサービスをご利用の場合、メールが貯まり過ぎていているとメールが受信できない場合があります。<br>
					  この場合は不要なメールや古いメールをある程度削除して容量を増やしてから再度受信することでメールを受け取ることができます。<br>
					</p>
					<p><strong><a name="e" id="e"></a>Ｅ：フリーメールやポータルサイトアドレス、携帯電話を使用していますか？</strong><br>
					  「メールが届かない」とお問合せいただくお客様が使用されているアドレスには次の文字が含まれている場合が多くございます。</p>
					<p><font color="#ff0000">hotmail<br>
					  yahoo</font><br>
					  msn<br>
					  goo<br>
					  ocn<br>
					  nifty<br>
					  ybb<br>
					  aol<br>
					  dion<br>
					  vodafone<br>
					  softbank<br>
					  ezweb<br>
					  docomo</p>
					<p>特に赤文字で記したYahooメール及びhotmail（ＭＳＮメール）については、残念ながら迷惑メールの偽装アドレスとして多用される傾向にあり、利用者数も多い為迷惑メール対策による影響でメールが届かないことが非常に多くなっております。 <br>
					  また、利用者の多いメールサービスは独自の迷惑メール対策を搭載しております。<br>
					  メールボックスのゴミ箱や迷惑メールフォルダにを間違ってメールが届いていないかを十分にご確認いただき、受信拒否設定に当店のメールアドレスが入っていないかも大変お手数ではございますが同時にご確認下さい。<br>
					  携帯電話で受信されているお客様はパソコンからのメールを受け取れる設定と、ドメイン拒否設定を解除して頂かないとメールをお届けできないことがございますのでそちらの設定をお願いいたします。   (docomoの携帯電話は迷惑メール対策が初めからかかっている状態になっておりますので必ず解除をお願いいたします。) </p>
					<hr size="1">
					<p><strong><a name="mob" id="mob"></a>★携帯メール ドメイン指定解除方法</strong>
					</p><p><strong>＜＜i-mode＞＞</strong></p>
					●i MENU→オプション設定→メール設定→メール受信設定（受信／拒否設定）の順番に  　リンクを移動します。 <br>
					●「ドメイン指定受信」にチェックを入れ、「次へ」ボタンを押します。 <br>
					●「受信したいアドレスまたはドメイン」の欄に『info@vings.jp』を入力し、登録ボタンを押します。<br>
					●imodeパスワードを入力し、決定を押します。<br>
					<br>
					<br>
					<p><strong>＜＜EZweb＞＞</strong></p>
					● Eメールメニュー→Eメール設定→その他の設定→メールフィルターの順番にリンクを  　移動します。 <br>
					● 暗証番号を入力して送信し、【アドレスフィルター】をクリック <br>
					● 「指定受信設定」にチェックして送信し、「個別指定」の欄に『info@vings.jp』を入力し、登録ボタンを押します。 <br>
					<br>
					<br>
					<p><strong>＜＜softbank＞＞</strong></p>
					●Vodafone live!→My Softbank→各種変更手続き→オリジナルメール設定の順番にリンクを移動します。<br>
					●暗証番号を入力して送信し、迷惑メール関連設定→「受信拒否設定」をクリック<br>
					●「許可リストとして設定」にチェックし、アドレスリストの編集→個別アドレスの追加の順番に移動。 <br>
					● フォーム欄に『info@vings.jp』を入力し、「アドレス」「このアドレスを有効にする」にチェックを入れて「OK」をクリック。<br> 
					<hr size="1">
					<p><strong><a name="fml" id="fml"></a>●Yahoo！メール、MSNメールの受信拒否設定の解除方法</strong><br>
					  Yahoo！メール、MSNメール等いわゆるフリーメールと呼ばれるサービスの受信拒否設定の確認と解除方法を簡単にご説明します。</p>
					<p><strong>・Yahoo！メール</strong><br>
					</p>
					<div>Yahoo！メールの最初の画面を表示させた状態で右上に「メールオプション（新Yahoo！メールでは「メールの設定」と書かれています）」という文字がありますのでこちらをクリックし、メールオプション画面に入ります。<br>
					</div>
					次に、「受信拒否」という文字を探しクリックしていただくと受信を拒否するアドレスの一覧が表示されますので、その中から当店のメールアドレスを探していただき、1回クリックして「一覧から削除」ボタンを押すことで解除できます。<br>
					また、「迷惑メール報告」ボタンで迷惑メールを一括で受信箱から消す作業を行った際に同時に受信拒否設定を行ってしまう場合もございます。<br>
					大量に届けられる迷惑メールに混じり、1通でも当店からのメールを「迷惑メール報告」してしまいますと受信拒否リストに加わってしまいますので気づかずに当店からのメールが受け取れない状態になってしまいます。ご注意下さい。 <br>
					<p><strong>・ＭＳＮメール</strong></p>
					<div> ＭＳＮメールの受信トレイを開きます。その後、右上にある「オプション」ボタンを1回クリックし、開いたメニューの一番下にある「その他オプション」をクリックします。<br>
					  するとメールに関する詳細設定画面が出てきますのでその中の「差出人セーフ リストと受信拒否リスト」をクリックしてください。<br>
					  次に、新たに出てきた画面の中の「受信拒否」をクリックしてください。<br>
					  右側に受信を拒否するメールアドレスのリストがありますので、その中から当店のメールアドレスを探していただき、1回クリックしてから中央の「＜＜リストから削除」ボタンを押すことで解除できます。<br>
					  また、セーフリストに当店のメールアドレスを登録しておけば安全なメールという扱いとなり、メールを受信することができます。
					  
					  <hr size="1">
					  <p><strong> <a name="need" id="need"></a>■当店よりお客様へのお願い</strong><br>
						当店だけに限らず、迷惑メール対策でのトラブルはインターネット通販全体で  非常に多く見られる現象になってきております。<br>
						お客様におかれましてはいち早く知りたいショップからお送りする納期や商品に関する情報を得にくくなっているということになり、私どもとしましてもお客様に情報が行かず、不安な気持ちを抱かせる状況は非常に残念でなりません。<br>
						<br>
						しかしながら、迷惑メール対策は現在のインターネットの世界には無くてはならないものになってきております。そのため、インターネットにてお買い物をされ  る場合は  迷惑メールと判断される可能性が高いフリーメールではなく、インターネット	プロバイダさまが提供しておりますメールアドレスを利用したり、有料のメール  サービスを利用することによりこのようなメールが届かない等のトラブルが起こる可能性を限りなく少なくすることができます。<br>
						是非この機会にメールアドレスの見直しをご検討してみてはいかがでしょうか。<br>
					  </p>
					</div>
				</div><!-- /.col -->
            </div>
        </div>
    </div>
{% endblock %}