{% extends 'default_frame.twig' %}

{% block main %}
<style>
.product_lf{
display:none;
}

.page-heading {
padding-bottom:0;
margin-bottom: 0;
}
.faq-name{
float: left;
display: block;
}
.faq-name li::before{
content: "? ";
color: red;
}
.faq-name li{
    display: block;
    line-height: 20px;
}
 a{
    color: #563924;
}
a:hover{
    color: red;
    text-decoration: underline;
}
.faq-name span{
    font-weight: bold;
    line-height: 20px;
    background-image: linear-gradient(to bottom, #f5cdb4 , #f9ece3);
    display: block;
    padding-left: 8px;
}
.faq-name{
    padding:5px;
}
#faq-noidung{
    margin-top: 5px;
}

</style>
    <div id="contents" class="main_only">
        <div id="privacy_wrap" class="container-fluid1 inner no-padding">
            <div id="main1">
                <h1 class="page-heading">送料について</h1>
                <div id="" class="container-fluid">
					<span class="mediumtext"><p><font face="Arial">当店では、日本郵便ＥＭＳを利用しております。<br>
【送料一覧表】<br>
●１点：950円(２点以降の場合、追加＋500円)<br>
※北海道・沖縄・離島の場合、１点1500円となります。<br><br>
●ご注文３万円以上お買い上げの場合、送料無料となります。<br>
					</font>    </span>
				</div><!-- /.col -->
            </div>
        </div>
    </div>
{% endblock %}