<style>
.h-bak{
position: absolute;
    display: block;
bottom:0;
    left: -4.6%;
}
.h-bak1{
position: absolute;
    display: block;
    right: -4.6%;
bottom:0;
}
.h-bak4{
position: absolute;
    display: block;
    left: -4.6%;
top:216px;
z-index:-10
}
.h-bak5{
position: absolute;
    display: block;
    right: -4.6%;
top:215px;
z-index:-10
}
.h-bak4 img , .h-bak5 img{
width:100%;
}
@media only screen and (max-width: 768px){
.h-bak, .h-bak1,.h-bak4, .h-bak5{display:none;
}
}
</style>
<div class="h-bak">
<img src="/user_data/bak/l-5.png">
</div>
<div class="h-bak1">
<img src="/user_data/bak/l-2.png">
</div>
<div class="h-bak4">
<img src="/user_data/bak/l-3.png">
</div>
<div class="h-bak5">
<img src="/user_data/bak/l-4.png">
</div>