<style>
.item_image {
    margin-bottom: 5px;
    margin-top: 5px;
}
.item_image ul li{
padding:0;
margin:0;
}
.item_image ul li a{
border: 1px solid rgba(128, 128, 128, 0.25);
padding:0;
margin:0;
}
</style>
<div class=" item_image">
<div class="col-sm-12 ">
    <ul class=" row image">
      <li class="col-sm-12 col-xs-12"><img src="/user_data/groupnew/vings-QR.jpg"></li>
      <li class="col-sm-6 col-xs-6"><a href="http://vings.jp/products/detail/156" class="item_photo"><img src="/user_data/groupnew/vings-170908yql-01s.jpg" alt="白雪姫 ハロウィン 仮装 ディズニー コスプレ コスチューム"></a></li>
      <li class="col-sm-6 col-xs-6"><a href="https://vings.jp/products/detail/149" class="item_photo"><img src="/user_data/groupnew/vings-170908yql-02s.jpg" alt="スーパーマリオ コスプレ衣装 ハロウィン"></a></li>
      <li class="col-sm-6 col-xs-6"><a href="http://vings.jp/products/detail/39" class="item_photo"><img src="/user_data/groupnew/vings-170517yql-01.jpg" alt="LoveLive Sunshine ラブライブ サンシャイン 青空 Jumping Heart コスプレ衣装"></a></li>
        <li class="col-sm-6 col-xs-6"><a href="http://vings.jp/products/detail/41?admin=1" class="item_photo"><img src="/user_data/groupnew/vings-170517yql-02s.jpg"　alt="ラブライブ！ BiBi コンサート 衣装 ロック編覚醒衣装 西木野真姫風 絢瀬絵里 矢澤にこ"></a></li>
        <li class="col-sm-6 col-xs-6"><a href="http://vings.jp/products/list?category_id=18" class="item_photo"><img src="/user_data/groupnew/vings-170517yql-03s.jpg"　alt="うたの☆プリンスさまっ♪ "></a></li>
        <li class="col-sm-6 col-xs-6"><a href="https://vings.jp/products/list?category_id=&name=%E7%B5%82%E3%82%8F%E3%82%8A%E3%81%AE%E3%82%BB%E3%83%A9%E3%83%95" class="item_photo"><img src="/user_data/groupnew/vings-170517yql-04s.jpg"　alt="終わりのセラフ"></a></li>
        <li class="col-sm-6 col-xs-6"><a href="http://vings.jp/products/list?category_id=159" class="item_photo"><img src="/user_data/groupnew/vings-170517yql-05s.jpg"　alt="ディズニー ズートピア"></a></li>
        <li class="col-sm-6 col-xs-6"><a href="http://vings.jp/products/detail/37" class="item_photo"><img src="/user_data/groupnew/vings-170517yql-06s.jpg"　alt="Fate/stay night セイバー Saber 浴衣 和服 着物 コスプレ衣装 "></a></li>
        
         </ul>
</div>
  
</div>