<div class="header_logo_area">
               <a href="{{ url('homepage') }}"><img src="/user_data/images/logo1.png"></a>
            </div>
<style>

h4{
color: #8D553A;
margin:0;
}
.form-control {
    width: 100%;
    height: 35px;
    padding: 0 8px;
}
.btn-info {
    color: #fff;
    background-color: #ff6d03;
    border-color: #ff6d03;
}
body{
font: 14px "Arial","MS Gothic";
}
#contents {
    min-height: 0;
}
#header .inner {
    position: relative;
background:url("/user_data/bak/bak4.png");
}
#header{
    background-image: linear-gradient(to bottom, #ff7333 , #ea8d5c);
}
#contents{
background: linear-gradient(to bottom, #ea8d5c , #FCF8EF);
}
.inner {
  background:#fff;
}
.btn {
    font-size: 14px;
    padding: 5px 10px;
    font-weight: bold;
}
.complete_message .heading01 {
    font-size: 18px;
}
.page-heading {
    font-size: 16px;
    border-bottom-style: solid;
    border-top: 0 none;
    padding: 16px 0 12px;
    margin: 0 16px 48px;
}
.heading02 {
    font-size: 16px;
    font-weight: bold;
    background: #EFEFEF;
    padding: 8px 12px;
}
#side_left {
    padding-right: 10px;
}
.header_logo_area {
    position: relative;
     z-index: 0; 
    min-height: 54px;
}
#header {
height: auto;
padding-top: 0px; 
}
#contents {
    padding-top: 0;
}
.header_logo_area a img{
width:50%;
}
body,#header, #contents{
font-size:14px;
color:#563924;
}
#header .header_bottom_area {
padding:0;
}
.btn-info {
    border-radius: 5px;
}
  .btn-primary {
    border-radius: 5px;
}
</style>