{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
<script type="text/javascript">
$(function(){
    $(".newslist").each(function(){
        var listLenght = $(this).find("dl").length;
        if(listLenght>5){
            $(this).find("dl:gt(4)").each(function(){$(this).hide();});
            $(this).append('<a id="news_readmore">» もっと見る</a>');
            var dispNum = 5;
            $(this).find("#news_readmore").click(function(){
                dispNum +=5;
                $(this).parent().find("dl:lt("+dispNum+")").show(400);
                if (dispNum>=listLenght) {
                    $(this).hide();
                }
            })
        }
    });
});
</script>

<div class="col-sm-12 news_contents">
<style>
.product_lf{
display:none;
}
.accordion{
clear:both;
}
.newslist dt .cb {
    font-size: 15px;
    top: 0;
    left: 3px;
}
.newslist dt .angle-circle {
    top: 14px;
    width: 20px;
    height: 20px;
}
.newslist dt .cb {
    top: 3px;
}
.news_contents {
    clear: both;
}
.newslist dt .angle-circle {
    top: 5px;
}
.newslist dt {
    padding: 8px;
padding-right: 30px;
}
.news_contents {
    padding: 0;
    padding: 5px 0;
}
.newslist {
    border-bottom: 1px solid #f8f8f8;
    height: 70px;
    overflow-x: hidden;
padding: 0;
}
.newslist dt:hover .news_title {
    text-decoration: underline;
    color: rgba(217, 83, 79, 0.83);
}
.newslist dt .date {
    float: left;
    width: 6em;
    color: forestgreen;
    padding-right: 5px;
}
#news_area {
  background: rgb(255, 255, 255);
    border: 1px solid rgba(226, 175, 184, 0.77);
}
#news_area .heading01 {
    padding: 4px;
    text-align: left;
color: #502714;
text-align:center;
font-size:14px;
font-weight: bold;
line-height: 20px;
width:100%;
}
#news_area {
    margin-bottom: 0px; 
}
</style>
    <div id="news_area">
        <h4 class="heading01">新着情報</h4>
        <div class="accordion">
            <div class="newslist">

                {% for News in NewsList %}
                <dl>
                    <dt>
                        <span class="date">{{ News.date|date("Y/m/d") }}</span>
                        <span class="news_title">
                            {{ News.title }}
                        </span>
                        {% if News.comment or News.url %}
                        <span class="angle-circle"><svg class="cb cb-angle-down"><use xlink:href="#cb-angle-down" /></svg></span>
                        {% endif %}
                    </dt>
                    {% if News.comment or News.url %}
                    <dd>{{ News.comment|raw|nl2br}}
                        {% if News.url %}<br>
                        <a href="{{ News.url }}" {% if News.link_method == '1' %}target="_blank"{% endif %}>
                        詳しくはこちら
                        </a>{% endif %}
                    </dd>
                    {% endif %}
                </dl>
                {% endfor %}

            </div>
        </div>
    </div>
</div>